<main>
  <h3>{{title}}</h3>
  <div>
    <button (click)="clickDashboard()">Dashboard</button>
    <button (click)="clickShowList()">Heroes</button>
  </div>
  <app-item *ngIf="showDashboard"></app-item>
  <ul *ngIf="showList">
    <li (click) = "clickShowDetails()">{{Hero1}}</li>
    <li (click) = "clickShowDetails()">{{Hero2}}</li>
    <li (click) = "clickShowDetails()">{{Hero3}}</li>
    <li (click) = "clickShowDetails()">{{Hero4}}</li>
  </ul>

  <div *ngIf="showDetails">
    <h3>{{hero}} Details</h3>
    <input type="text" [(ngModel)] = "hero">
    <button (click) = "setHero()">Set</button>
  </div>
</main>
